.fondo{
    --background: url('./../../../assets/img/img4.png') 0/100% 100%;
}

.fondooo{
    width: 80%;
    height: 80%;
    margin: auto;
    background-color:rgba(248, 209, 209, 0.5);
    border-radius: 10px;
}
.text1{
    margin-top: 50px;
    font-family: "Georgia";
    text-align: center;
}
.text2{
    color: rgba(0,0,0,.7);
    width: 350px;
    margin-left: 10px;
    
}
.textos_login{
    margin-top: center;
   
    
}

.icon{
    height:20px;
    width:20px;
}
.boton_login{
   
    width: 300px;
    margin: auto;
    margin-top: 50px;
    


}