.fondo{
    --background: url('./../../../assets/img/img4.png') 0/100% 100%;
}

.fondoo{
    
    height: 55vh;
    width: 100%;
    max-width: 500px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    background-color:rgba(234, 220, 220, 0.5);
  
}
.buton{
    margin-left: 280px;
    
}


.icono{
    width: 40%;
    height: 40%;
}


