<ion-content [fullscreen]="true">
  <ion-app>
     <ion-menu contentId="main-content">
       <ion-header>
         <ion-toolbar color="dark">
           <ion-title>Menu Content</ion-title>
         </ion-toolbar>
       </ion-header>
       <ion-content class="ion-padding">
 
         <ion-button fill="outline"  color="dark" >credencia</ion-button>
         <ion-button fill="outline" color="dark" >cerrar sesion</ion-button>
         
       </ion-content>
     </ion-menu>
     <div class="ion-page" id="main-content">
       <ion-header>
         <ion-toolbar>
           <ion-buttons slot="start">
             
             <ion-buttons slot="start" >
               <ion-back-button class="btn-atras" default-href="#" (click)="home()" ></ion-back-button>
             </ion-buttons>
 
             <ion-menu-button class="buton"></ion-menu-button>
           </ion-buttons>
           <ion-title></ion-title>
         </ion-toolbar>
       </ion-header>
 
       <ion-content > 
         
         
       </ion-content>
     </div>
   </ion-app>
 </ion-content>