.fondo{
    --background: url('./../../../assets/img/img4.png')  0/100% 100%;
}
.fondoo{
    
    width: 45%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    background-color:rgba(245, 238, 238, 0.5);
    border-radius: 10px;
}
.icon{
    width: 30px;
    height: 30px;
}
.qr{
    width: 80%;
    height: 80%;
    padding-top: 10%;
    padding-left: 25%;
}
.boton{
    margin-top: 10%;
    width: 30%;
    
}
