<ion-header [translucent]="true">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="#">cerrar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</ion-header>


<ion-content [fullscreen]="true" class="fondo">
  <div class="fondoo">

    
    <ion-button expand="block" fill="outline" class="boton" color="dark" (click)="asistenciaweb()">Asistencia</ion-button>
    <br>
   
    <div class="advertencia">
      <p>presionar boton "Crear QR" para comenzar la asistencia de sus alumnos <ion-icon name="arrow-down-circle-outline"></ion-icon></p>
    </div>
    <ion-button expand="block" fill="outline" class="boton" color="dark" (click)="qrweb()">Crear QR</ion-button>


  </div>
  
</ion-content>